.btn-save{
    margin: 10vh;
    display: block;
    width: 10vh;
    height: 5vh;
    border-radius: 15%;
    border: none;
    background-color: transparent;
    color: rgb(224, 224, 224);
    font-weight: 500;
    font-size: 15px;
    align-items: center;
    transition: 1s;
    cursor: pointer;
}

.btn-save:hover{
    background-color: tomato;
    color: black;
    transition: all 1s;
    transform: rotate(360deg);
}

.btn-save:disabled {
    
    background: black;
    color: tomato;
}

.btn-delete{
    color: white;
    display: block;
    margin-right: 3vh;
    border: none;
    background:transparent;
    font-weight: 500;
    font-size: 30px;
    cursor: pointer;
    
}

.btn-delete:hover{
    color: red;
    transition: all 1s;
    transform: rotate(360deg);
}